@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 213.6 94.4% 91.4%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 246.2 33.3% 96.5%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 246.2 33.3% 96.5%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 251.4 91.3% 93.7%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 350.4 100% 93.7%;
    --destructive-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 213.6 94.4% 91.4%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}